# DATA FILES
*.csv
*.TRM
*.ABS
data/
NIR DATA
*.pkl

# images
*.png

# python files
*.pyc
__pycache__

# jupyter files
.ipynb_checkpoints
*.ipynb
!analysis/*.ipynb

# IDE files
.vscode

# mac OS files
.DS_STORE

# model files
bin

# virtual environment
.spectroscopy

# egg files
*.egg-info

*.ini
