/* .export{
    position: absolute;
    right: 50%;
} */
/* .dash-spreadsheet.menu
.dash-spreadsheet .row {
    margin-left: 0px;
    margin-right: 0px;
} */

#upload-training{
    /* display:inline-block; */
    position: relative;
    z-index: 1;
}