/* .export{
    position: absolute;
    right: 50%;
} */
/* .dash-spreadsheet.menu
.dash-spreadsheet .row {
    margin-left: 0px;
    margin-right: 0px;
} */

div[id^='upload-']{
    /* display:inline-block; */
    position: relative;
    z-index: 1;
}
div.model-card{
    margin-bottom:20px;
    border:1px;
    box-shadow: black;
}